<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta charset="utf-8">
<title>{{ page.title }}</title>

{% css_asset_tag global %}
- /_source/css/osx.css
- /_source/css/ristrettology.css
- /_source/css/book.css
- /_source/css/badge.css
{% endcss_asset_tag %}

<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>

{% javascript_asset_tag global %}
- /_source/js/underscore-min.js
- /_source/js/jquery.simplemodal.1.4.4.min.js
- /_source/js/speed-bump.js.coffee
- /_source/js/book.js.coffee
{% endjavascript_asset_tag %}

